html
  head
    title
      | Animal Care
    link(rel='stylesheet', href='../static/index.css')
    script(src= './static/jquery.js')  
    script(src= './static/main.js') 
    meta(charset='utf-8')
  body
    header
      h1(align='center')
        | Animal Care
    main
      .navbar
        a(href='home') Profile
        a(href='mypets') My Pets
        .dropdown
          button.dropbtn
            | Animals
            i.fa.fa-caret-down
          .dropdown-content
            a(href='gatos') Cats
            a(href='perros') Dogs
            a(href='peces') Fish
        if user
          li(style='float:right')  
            a(href='/logout') Logout
        else
          li(style='float:right')
            a(href='/login') Login
          li(style='float:right')  
            a(href='/register') Register    
    br
    if user
      p= user.name
      p= user._id
      p My Pets
      br     
      ul.list-group 
        each pets2 in pets
          if user._id == pets2.owner
            li.limypets.list-group-item
              p= pets2.name
              p= pets2.animal
              p= pets2.age
              p= pets2.owner
              a.btn.btn.default.anadir(href='/edit/'+pets2._id) Edit
              a.btn.btn-danger.delete-pet(href='/mypets',data-id=pets2._id) Delete                
      form(method= 'Post', action='/anadir')
        #form-group
          label Name:
          input.form-control(name='name', type='text')
        #form-group
          label Animal:
          input.form-control(name='animal', type='text')
        #form-group
          label Age:
          input.form-control(name='age', type='text')
        input.btn.btn-primary(type='submit',value='Submit')
